<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img src="/assets/images/Logo_Menu.png"  alt="">
    </a>
    <div class="navbar-collapse justify-content-end collapse" id="navbarsExample10">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i>  <span class="Fonts"> HOME</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> <span class="Fonts"> CONTÁCTANOS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="Fonts"> EMAIL</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="Fonts"> INICIAR SESIÓN</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="Fonts"> REGISTRATE</span> </a>
            </li>
        </ul>
    </div>
</nav>