<app-header></app-header>
 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">#Código postal</li>
      <li class="breadcrumb-item active" aria-current="page">Detalle pedido</li>
    </ol>
  </nav>
  <!--Sección datos de entrega-->
<div class="container border-bottom pb-3">

    <h2 class="text-muted">REVISE SU ORDEN</h2>
    <span class="text">En caso de problemas comunicarse a --- <a href="">@#</a></span>
    <div class="card px-3 pt-3">
        <div class="row mb-5">
            <div class="col-md-5">
                <div class="mb-4">
                    <h2>Datos de envio</h2>
                    <h6>Dirección</h6>
                    <p>{{session.despacho.direccion}}</p>
                    <h6>Comuna</h6>
                    <p>{{session.despacho.comuna}}</p>
                    <h6>Teléfono</h6>
                    <p>{{session.despacho.telefono}}</p>
                </div>
            </div>

            <div class="col-md-4">
                <h2>Detalle del pedido</h2>
                <div>
                    <h6>Nombre producto</h6>
                    <h5>{{session.product.name}}</h5>
                    <h6>Elemento</h6>
                    <p>{{session.element}}</p>
                    <h6>Detalle producto</h6>
                    <p>{{session.product.id}}</p>
                </div>
            </div>

            <div class="col-md">
                <div class="mb-4">
                    <h3>Tiempo Entrega</h3>
                    <div class="d-flex">
                        <ul class="mr-4">
                        <li><a href="#" class="py-2 d-block">Seguir estado del pedido</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>


    </div>

</div>

  <div class="container mb-5">           
    <div class="col-md-12 pl-5">
      <div class="row justify-content-end">
        <div class="col-md-5">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Mi pedido</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Producto</span>
                  
                </div>
                <div class="col-md-6 text-right mb-3">
                  <strong class="text-black">$23.456</strong>
                </div>
                <div class="col-md-12">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-success">Servicios</span>
                </div>
                <div class="col-md-6 text-right mb-3">
                  <strong class="text-success">$12.345</strong>
                </div>
                <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio voluptatem aliquid corrupti ad praesentium laudantium tempore.</p>
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-6">
                  <h4 class="text-success">TOTAL</h4>
                </div>
                <div class="col-md-6 text-right">
                  <h4 class="text-black">$45.678</h4>
                </div>
              </div>
             </div>
        </div>
      </div>
    </div>

  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->

  <app-footer></app-footer>


  <!-- Modal -->
  <div class="modal fade custom show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h3>TOTAL</h3>
        <h3 class="total">$ </h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>